1- How to find duplicates in a table
2- How to delete duplicates from a table
3- Difference between union and union all
4- Difference between rank,row_number and dense_rank
5- Find records in a table which are not present in another table
6- Find second highest salary employees in each department
7- Find employees with salary more than their manager's salary
8- Difference between inner and left join
9- update a table and swap gender values.
10- Number of records in output with different kinds of join.  please provide answer of this question

# 1- How to find duplicates in a table

In [ ]:
SELECT column_name, COUNT(*) as duplicate_count
FROM table_name
GROUP BY column_name
HAVING COUNT(*) > 1;

# How to delete duplicates from a table

In [ ]:
DELETE FROM table_name
WHERE column_name IN (
    SELECT column_name
    FROM table_name
    GROUP BY column_name
    HAVING COUNT(*) > 1
);

# Difference between union and union all

The UNION operator combines the result sets of two or more SELECT statements, removing duplicate rows. On the other hand, the UNION ALL operator also combines the result sets of SELECT statements but does not remove duplicates, including all rows from each SELECT statement.

# Difference between rank,row_number and dense_rank

ROW_NUMBER assigns a unique number to each row in the result set, without gaps or repetitions.
RANK assigns a unique rank to each row, but may result in gaps if two or more rows have the same ranking. The next rank is then incremented by the number of tied rows.
DENSE_RANK assigns a unique rank to each row, similar to RANK, but without gaps. It does not increment the rank for tied rows.

# Find records in a table which are not present in another table

In [ ]:
SELECT *
FROM table1
WHERE NOT EXISTS (
    SELECT *
    FROM table2
    WHERE table1.column = table2.column
);

# Find second highest salary employees in each department

In [ ]:
SELECT department, employee, salary
FROM (
    SELECT department, employee, salary, RANK() OVER (PARTITION BY department ORDER BY salary DESC) as rank
    FROM employees
) AS ranked_employees
WHERE rank = 2;

# Find employees with salary more than their manager's salary

In [ ]:
SELECT e.employee, e.salary
FROM employees e
JOIN employees m ON e.manager_id = m.employee_id
WHERE e.salary > m.salary;

# Difference between inner and left join

INNER JOIN returns only the matching rows between the tables based on the specified join condition.
LEFT JOIN returns all the rows from the left (first) table and the matching rows from the right (second) table based on the join condition. If there is no match, NULL values are included for the right table

# update a table and swap gender values.

In [ ]:
UPDATE YourTable
SET Gender = CASE
    WHEN Gender = 'Male' THEN 'Female'
    WHEN Gender = 'Female' THEN 'Male'
    ELSE Gender
END;

# Number of records in output with different kinds of join.  please provide answer of this question

INNER JOIN: The number of records in the output will be the number of matching records between the joined tables. Only the records that satisfy the join condition are included in the result.

LEFT JOIN (or LEFT OUTER JOIN): The number of records in the output will be equal to the number of records in the left (first) table. All records from the left table are included, and if there is a match with the right (second) table based on the join condition, the corresponding records are included as well. If there is no match, NULL values are included for the right table.

RIGHT JOIN (or RIGHT OUTER JOIN): The number of records in the output will be equal to the number of records in the right (second) table. All records from the right table are included, and if there is a match with the left (first) table based on the join condition, the corresponding records are included. If there is no match, NULL values are included for the left table.

FULL JOIN (or FULL OUTER JOIN): The number of records in the output will be the combination of records from both tables. It includes all records from both the left and right tables, and if there is a match based on the join condition, the corresponding records are included. If there is no match, NULL values are included for the non-matching table.

It's important to note that the specific join conditions and the data in the tables will determine the actual number of records in the output for each type of join.

# Consider a table named "Orders" with the following columns: OrderID, OrderDate, CustomerID. Write a SQL query to find the customers who have placed orders on consecutive days.

In [ ]:
SELECT DISTINCT CustomerID
FROM (
    SELECT CustomerID, OrderDate, LAG(OrderDate) OVER (PARTITION BY CustomerID ORDER BY OrderDate) AS PrevOrderDate
    FROM Orders
) AS consecutive_orders
WHERE DATEDIFF(OrderDate, PrevOrderDate) = 1;

1. Basic SQL Syntax:
SQL keywords
Data types
Operators
SQL statements (SELECT, INSERT, UPDATE, DELETE)

2. Data Definition Language (DDL):
CREATE TABLE
ALTER TABLE
DROP TABLE
Truncate table

3. Data Manipulation Language (DML):
SELECT statement (SELECT, FROM, WHERE, ORDER BY, GROUP BY, HAVING, JOINs)
INSERT statement
UPDATE statement
DELETE statement

4. Aggregate Functions:
SUM, AVG, COUNT, MIN, MAX
GROUP BY clause
HAVING clause

5. Data Constraints:
Primary Key
Foreign Key
Unique
NOT NULL
CHECK

6. Joins:
INNER JOIN
LEFT JOIN
RIGHT JOIN
FULL OUTER JOIN
Self Join
Cross Join

7. Subqueries:
Types of subqueries (scalar, column, row, table)
Nested subqueries
Correlated subqueries

8. Advanced SQL Functions:
String functions (CONCAT, LENGTH, SUBSTRING, REPLACE, UPPER, LOWER)
Date and time functions (DATE, TIME, TIMESTAMP, DATEPART, DATEADD)
Numeric functions (ROUND, CEILING, FLOOR, ABS, MOD)
Conditional functions (CASE, COALESCE, NULLIF)

9. Views:
Creating views
Modifying views
Dropping views

10. Indexes:
Creating indexes
Using indexes for query optimization

11. Transactions:
ACID properties
Transaction management (BEGIN, COMMIT, ROLLBACK, SAVEPOINT)
Transaction isolation levels

12. Data Integrity and Security:
Data integrity constraints (referential integrity, entity integrity)
GRANT and REVOKE statements (granting and revoking permissions)
Database security best practices

13. Stored Procedures and Functions:
Creating stored procedures
Executing stored procedures
Creating functions
Using functions in queries

14. Performance Optimization:
Query optimization techniques (using indexes, optimizing joins, reducing subqueries)
Performance tuning best practices

15. Advanced SQL Concepts:
Recursive queries
Pivot and unpivot operations
Window functions (Row_number, rank, dense_rank, lead & lag)
CTEs (Common Table Expressions)
Dynamic SQL

# important sql  interview question

What are the different types of SQL joins and when would you use each one?
What is the difference between INNER JOIN and OUTER JOIN in SQL?
Explain the concept of normalization in database design and why it's important.
What is a primary key and why is it used in a database?
Explain the difference between UNION and UNION ALL in SQL.
How do you create a new table in SQL? Provide an example.
What is a subquery in SQL and how can it be used in a query?
Explain the concept of indexing in databases and how it can improve query performance.
How do you retrieve the top N records from a table in SQL?
What are stored procedures and functions in SQL, and how do they differ?
Explain the difference between VARCHAR and CHAR data types in SQL.
How do you calculate the average, sum, minimum, and maximum values of a column in SQL?
What is a foreign key and how is it used in a database?
Explain the concept of ACID properties in the context of database transactions.
What is the purpose of the GROUP BY clause in SQL and how does it work?
How do you add, modify, and delete data in a table using SQL?
Explain the concept of NULL in SQL and how it's handled in queries.
What is a view in SQL and why would you use it?
How do you retrieve data from multiple tables using JOINs in SQL?
Explain the difference between a clustered and a non-clustered index in SQL.
What are triggers in SQL and how do they work?
How do you handle duplicate records in a table using SQL?
Explain the difference between a candidate key, primary key, and super key in database design.
How do you concatenate strings in SQL?
What is the purpose of the HAVING clause in SQL and how does it differ from the WHERE clause?
Explain the concept of a self-join in SQL and when it might be used.
How do you perform data aggregation across multiple groups in SQL?
Explain the difference between a database and a schema in SQL.
How do you retrieve data from a table in a random order in SQL?
What is the purpose of the ORDER BY clause in SQL and how does it work?
What are window functions? Explain with examples.
How do you perform string manipulation and pattern matching in SQL?
Explain the difference between a left outer join and a right outer join in SQL.
What are the different types of subqueries in SQL and how are they used?
How do you find and remove duplicate records from a table in SQL?
Explain the concept of a materialized view in SQL and how it differs from a regular view.
How do you perform data validation and data cleansing in SQL?
Explain the difference between a transaction and a savepoint in SQL.
What is a schema in SQL and why is it used?
How do you calculate the difference between two dates in SQL?
Explain the concept of a composite key in database design and when it might be used.
What is a temporary table in SQL and how is it used?

# medium level sql interview question


1-Write a SQL query to find the second highest salary from an "Employees" table
2-Write a SQL query to display the top 5 customers with the highest total revenue.
3-Write a SQL query to list the number of orders placed by each customer in the year 2022.
4-Write a SQL query to find the average salary of employees for each department in a "Employees" table.
5-Write a SQL query to find the names of all customers who have placed at least one order for more than $1000.
6-Write a SQL query to list the top 3 most popular products (by the number of orders) in the year 2022.
7-Write a SQL query to find the names of all employees who have worked for more than 5 years.
8-Write a SQL query to list all orders that have at least one product with a price greater than $100.
9-Write a SQL query to find the number of customers who have not placed any orders in the year 2022
10-Write a SQL query to find the average number of orders placed by each customer.

# Write a SQL query to display the top 5 customers with the highest total revenue.

In [ ]:
SELECT CustomerID, SUM(Revenue) AS TotalRevenue
FROM YourTable
GROUP BY CustomerID
ORDER BY TotalRevenue DESC
LIMIT 5;

# Write a SQL query to list the number of orders placed by each customer in the year 2022.

In [ ]:
SELECT CustomerID, COUNT(OrderID) AS NumberOfOrders
FROM YourTable
WHERE YEAR(OrderDate) = 2022
GROUP BY CustomerID;

# Write a SQL query to find the average salary of employees for each department in a "Employees" table.

In [ ]:
SELECT DepartmentID, AVG(Salary) AS AverageSalary
FROM Employees
GROUP BY DepartmentID;

# Write a SQL query to find the names of all customers who have placed at least one order for more than $1000.

In [ ]:
SELECT DISTINCT CustomerName
FROM Customers c
JOIN Orders o ON c.CustomerID = o.CustomerID
WHERE o.OrderAmount > 1000;

# Write a SQL query to list the top 3 most popular products (by the number of orders) in the year 2022.

In [ ]:
SELECT ProductID, COUNT(OrderID) AS NumberOfOrders
FROM YourTable
WHERE YEAR(OrderDate) = 2022
GROUP BY ProductID
ORDER BY NumberOfOrders DESC
LIMIT 3;

# Write a SQL query to find the names of all employees who have worked for more than 5 years.

In [ ]:
SELECT EmployeeName
FROM Employees
WHERE DATEDIFF(NOW(), HireDate) > 5 * 365;

# Write a SQL query to list all orders that have at least one product with a price greater than $100.

In [ ]:
SELECT DISTINCT o.OrderID, o.OrderDate
FROM Orders o
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
WHERE p.Price > 100;

# Write a SQL query to find the number of customers who have not placed any orders in the year 2022

In [ ]:
SELECT COUNT(*) AS NumberOfCustomers
FROM Customers
WHERE CustomerID NOT IN (
    SELECT DISTINCT CustomerID
    FROM Orders
    WHERE YEAR(OrderDate) = 2022
);

# Write a SQL query to find the average number of orders placed by each customer.

In [ ]:
SELECT customer_id, AVG(order_count) AS average_orders
FROM (
  SELECT customer_id, COUNT(*) AS order_count
  FROM orders
  GROUP BY customer_id
) AS subquery
GROUP BY customer_id;

# SQL query to find Nth highest salary from a salary table

In [ ]:
SELECT salary
FROM (
  SELECT salary, ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num
  FROM employees
  ) AS subquery
WHERE row_num = N;